<h1 class="my-4">@post.title</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> 記事番号</th>
      <td><%= @post.id %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>カテゴリー</th>
      <td><%= @category_name %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @post.body %></td>
     </tr>
     <tr>
       <th>サムネイル</th>
       <td><img class="img-fluid" width="300" height="150" src="/img/#{@post.thumbnail}"></td>
     </tr>
     <tr>
       <th>投稿日時</th>
       <td><%= @post.created_at %></td>
      </tr>
      <tr>
        <th>更新日時</th>
        <td><%= @post.updated_at %></td>
       </tr>

   </thead>
